# Ignore node_modules directory in the backend directory
/backend/node_modules/

# Ignore node_modules directory in the frontend2 directory
/frontend2/node_modules/

# Ignore dist directory in the frontend2 directory
/frontend2/dist/

# Ignore .env file in the backend directory

