# Ignore node_modules directory in the backend directory
/backend/node_modules/
/backend/.env/

# Ignore node_modules directory in the frontend2 directory
/frontend2/node_modules/

# Ignore dist directory in the frontend2 directory
/frontend2/dist/
/frontend2/.env/

/node_modules/

# Ignore .env file in the backend directory

